
<div class ="page-hold">
	<h1><%= current_user.email %>'s Logbook</h1>
 <p> Total flights: <%=  Logbook.count('id', :distinct => true) %> </p>

<br>
<%= render partial: 'logs_grid' %>

<button class="wg-external-csv-export-button" data-grid-name="logs">Export To CSV</button>


</div>