
<div class ="page-hold">
	<h1>Logbook</h1>
  <h4><%= @Logbook.sum(:flightTime) %></h4>
<%= grid(@Log_grid, show_filters: :always) do |g|

  g.column name: "Date", ordering: true, filter: true do |task|
    link_to(task.date.try(:strftime, '%d/%m/%Y'), logbook_path(task))
  end

  g.column name: "From" do |task|
    task.departurePlace
  end

   g.column name: "Dep. Time" do |task|
    task.departureTime.try(:strftime, '%H:%M')
  end

   g.column name: "To" do |task|
    task.arrivalPlace
  end

  g.column name: "Arr. Time" do |task|
    task.arrivalTime.try(:strftime, '%H:%M')
  end


  g.column name: "Type" do |task|
    task.aircraftType
  end

  g.column name: "Reg" do |task|
    task.aircraftReg
  end

  g.column name: "SE/ME" do |task|
    task.engine_type
  end

  g.column name: "Total Time" do |task|
    task.flightTime
  end

  g.column name: "Name PIC"  do |task|
    task.PIC
  end

  g.column name: "Day TO"  do |task|
    task.day_takeoff
  end

  g.column name: "Night TO"  do |task|
    task.night_takeoff
  end

  g.column name: "Day L"  do |task|
    task.day_landing
  end

  g.column name: "Night L"  do |task|
    task.night_landing
  end

  g.column name: "Night"  do |task|
    task.night_time
  end

  g.column name: "IFR"  do |task|
    task.ifr_time
  end

  g.column name: "PIC"  do |task|
    task.pic_time
  end

  g.column name: "Co-Pilot"  do |task|
    task.copilot_time
  end

  g.column name: "Dual"  do |task|
    task.dual_time
  end


  g.column name: "Instr."  do |task|
    task.instructor_time
  end

 
  g.column name: "SIM"  do |task|
    task.sim_time
  end

  g.column do |task|
    link_to('Edit',  edit_logbook_path(task))
  end

   g.column do |task|
    link_to("Delete", task,  method: :delete)
  end

end -%>



</div>